.metroBig { font-size:36px; line-height:36px; }
.live-tile, .list-tile
{
	color:#fff;
	float:left;
	height: 207px;
	margin-right:10px;
	margin-bottom:10px;
	overflow:hidden;
	position:relative;
	width: 207px;
}

.live-tile.two-wide, .list-tile.two-wide { width:390px; }
.live-tile.two-tall, .list-tile.two-tall { height:390px; }
.live-tile img, .list-tile img { border:none; }
.live-tile.me>.slide-back>a.metroBig { position:absolute; left:0; bottom:0; padding: 0 0 12px 12px; text-decoration:none; }
.live-tile a:link, .live-tile a:visited { color:#fff; text-decoration:underline; }
.live-tile a:hover { color:#fff; text-decoration:none; }
.live-tile p { line-height: 1.6; padding:10px; }
.live-tile .tile-title, .list-tile .tile-title { position:absolute; bottom:0px; font-size:12px; left:0px; /* width:100%;  */padding:0 0 6px 6px; z-index:30; }
.live-tile a.tile-title, .list-tile a.tile-title { text-decoration:none; }
.live-tile.me>.metroBig { padding-top:45px; }

.live-tile,.live-tile>div,.list-tile>div
{   /* ensure elements on backside don't continue to take focus */
	backface-visibility:hidden;
	-webkit-backface-visibility:hidden;
	-moz-backface-visibility:hidden;
}

.live-tile>div,.list-tile>div
{    
	top:0px;
	left:0px;
	margin:0px;
	height:100%;
	width:100%;
	position:absolute;
	z-index:20;
}
.list-tile>div
{
	position:relative;
}

img.full , a.full
{
	display:block;
	margin:0px;
	height:100%;
	width:100%;    
}
.list-tile>div { background-color:transparent; }

.live-tile>.back, .live-tile>.slide-back,.live-tile>.flip-back, .flip-list .flip-back
{
	position:absolute;
	z-index:10;	
}
/*  ========== flip-list Styles ==========
	.flip-list
	---li
	------div.flip-front
	------div.flip-back
*/
.flip-list  
{
	padding:0px; 
	margin:0px;	
}
.list-tile .flip-list 
{
	height:100%;
	width:100%;
}
.flip-list>li>a
{
	border:none;
	outline:none;
	text-decoration:none;
	margin:0px;
	padding:0px;
	height:100%;
	width:100%;
}

.flip-list img  
{
	border:none;
	outline:none;
	height:100%;
	margin:0px;
	padding:0px;
	width:100%;
}
.flip-list>li 
{
	height: 60px;
	float: left;
	list-style-type:none;
	margin: 0px;
	outline:none;
	padding: 0px;
	position: relative;
	width: 60px;
}

.flip-list>li>div 
{
	border:none;
	background: white;
	height: 100%;
	left: 0px;
	margin:0px;
	overflow: hidden;
	position: absolute;
	padding:0px;
	top: 0px;
	width: 100%;
	z-index:20;
}

.flip-list>li>div.flip-back 
{
   height:0px;
}




/***** Theme Definitions *****/
.light { background-color:#fff; color:#000; }
.dark { background-color:#000; color:#fff; }
.light.accent { background-color:#fff; }
.dark.accent { background-color:#000; }
.light .appbar { background-color:#dfdfdf; }
.dark .appbar { background-color:#212021; }
/*live tile accent colors */
.amber .accent, .amber .live-tile .accent,
.amber .live-tile>div, .amber .list-tile>div,
.amber .live-tile>div.slide-back, .amber .flip-list>li>div { background-color:rgb(241, 163, 11); }
.amber .accentColor,.amber.accentColor {  color:rgb(241, 163, 11); }
.amber .accentHover:hover,.amber .accentHover a:hover,
.accentHover .amber a:hover, .amber.accentHover a:hover  {  color:rgb(241, 163, 11); }
.amber .accentBorder,.amber.accentBorder {  border-color:rgb(241, 163, 11); }
.amber a.accentVisited:visited,.amber .accentVisited a:visited {  color:rgb(241, 163, 11); }
.amber.accentLink a,a.amber.accentLink:link,a.amber.accentLink:hover,a.amber.accentLink:visited,
.amber.accentVisited:visited,.amber.accentHover:hover,
.amber .accentLink,.amber a.accentLink:link,.amber a.accentLink:hover,.amber a.accentLink:visited {  color:rgb(241, 163, 11); }

.skyblue .accent, .skyblue .live-tile .accent,
.skyblue .live-tile>div, .skyblue .list-tile>div,
.skyblue .live-tile>div.slide-back, .skyblue .flip-list>li>div { background-color: #6AB7FE;}
.skyblue .accentBorder,.skyblue.accentBorder {  border-color: #6AB7FE; }
.skyblue .accentColor,.skyblue.accentColor {  color: #6AB7FE;}
.skyblue .accentHover:hover,.accentHover .skyblue a:hover, 
.skyblue .accentHover a:hover, .skyblue.accentHover a:hover   {  color: #6AB7FE; }
.skyblue a.accentVisited:visited,.skyblue .accentVisited a:visited {  color: #6AB7FE; }
.skyblue.accentLink a, a.skyblue.accentLink:link, a.skyblue.accentLink:hover, a.skyblue.accentLink:visited,
a.skyblue.accentVisited:visited,a.skyblue.accentHover:hover,
.skyblue .accentLink a,.skyblue .accentLink:link,.skyblue .accentLink:hover,.skyblue .accentLink:visited {  color: #6AB7FE; }

.blue .accent, .blue .live-tile .accent,
.blue .live-tile>div, .blue .list-tile>div,
.blue .live-tile>div.slide-back, .blue .flip-list>li>div { background-color:rgb(27,161,226); }
.blue .accentBorder,.blue.accentBorder {  border-color:rgb(27,161,226); }
.blue .accentColor,.blue.accentColor {  color:rgb(27,161,226); }
.blue .accentHover:hover,.accentHover .blue a:hover, 
.blue .accentHover a:hover, .blue.accentHover a:hover   {  color:rgb(27,161,226); }
.blue a.accentVisited:visited,.blue .accentVisited a:visited {  color:rgb(27,161,226); }
.blue.accentLink a, a.blue.accentLink:link, a.blue.accentLink:hover, a.blue.accentLink:visited,
a.blue.accentVisited:visited,a.blue.accentHover:hover,
.blue .accentLink a,.blue .accentLink:link,.blue .accentLink:hover,.blue .accentLink:visited {  color:rgb(27,161,226); }

.brown .accent, .brown .live-tile .accent,
.brown .live-tile>div, .brown .list-tile>div,
.brown .live-tile>div.slide-back, .brown .flip-list>li>div { background-color:rgb(160, 80, 0); }
.brown .accentBorder,.brown.accentBorder { border-color:rgb(160,80,0); }
.brown .accentColor,.brown.accentColor { color:rgb(160,80,0); }
.brown .accentHover:hover,.brown .accentHover a:hover,.brown.accentHover a:hover  { color:rgb(160,80,0); }
.brown .accentVisited:visited,.brown .accentVisited a:visited { color:rgb(160,80,0); }
.brown.accentLink a,a.brown.accentLink:link,a.brown.accentLink:hover,a.brown.accentLink:visited,
a.brown.accentVisited:visited,a.brown.accentHover:hover,.accentHover .brown a:hover,
.brown .accentLink a,.brown a.accentLink:link,.brown a.accentLink:hover,.brown a.accentLink:visited { color:rgb(160,80,0); }

.cobalt .accent, .cobalt .live-tile .accent,
.cobalt .live-tile>div, .cobalt .list-tile>div,
.cobalt .live-tile>div.slide-back, .cobalt .flip-list>li>div { background-color:rgb(0, 80, 239); }
.cobalt .accentBorder,.cobalt.accentBorder { border-color:rgb(0, 80, 239); }
.cobalt .accentColor,.cobalt.accentColor { color:rgb(0, 80, 239); }
.cobalt a.accentHover:hover,.cobalt .accentHover a:hover,.cobalt.accentHover a:hover  { color:rgb(0, 80, 239); }
.cobalt .accentVisited:visited,.cobalt .accentVisited a:visited { color:rgb(0, 80, 239); }
.cobalt.accentLink a,a.cobalt.accentLink:link, a.cobalt.accentLink:hover, a.cobalt.accentLink:visited,
a.cobalt.accentVisited:visited, a.cobalt.accentHover:hover, .accentHover .cobalt a:hover,
.cobalt .accentLink a,.cobalt a.accentLink:link,.cobalt a.accentLink:hover,.cobalt a.accentLink:visited { color:rgb(0, 80, 239); }

.crimson .accent, .crimson .live-tile .accent,
.crimson .live-tile>div, .crimson .list-tile>div,
.crimson .live-tile>div.slide-back, .crimson .flip-list>li>div { background-color:rgb(162, 0, 37); }
.crimson .accentBorder,.crimson.accentBorder { border-color:rgb(162, 0, 37); }
.crimson .accentColor,.crimson.accentColor { color:rgb(162, 0, 37); }
.crimson .accentHover:hover,.crimson .accentHover a:hover,.crimson.accentHover a:hover  { color:rgb(162, 0, 37); }
.crimson .accentVisited:visited,.crimson .accentVisited a:visited { color:rgb(162, 0, 37); }
.crimson.accentLink a, a.crimson.accentLink:link, a.crimson.accentLink:hover, a.crimson.accentLink:visited,
a.crimson.accentVisited:visited, a.crimson.accentHover:hover, .accentHover .crimson a:hover,
.crimson .accentLink a,.crimson a.accentLink:link, .crimson a.accentLink:hover, .crimson a.accentLink:visited { color:rgb(162, 0, 37); }

.cyan .accent, .cyan .live-tile .accent,
.cyan .live-tile>div, .cyan .list-tile>div,
.cyan .live-tile>div.slide-back, .cyan .flip-list>li>div { background-color:rgb(27, 160, 225); }
.cyan .accentBorder,.cyan.accentBorder { border-color:rgb(27, 160, 225); }
.cyan .accentColor,.cyan.accentColor { color:rgb(27, 160, 225); }
.cyan .accentHover:hover,.cyan .accentHover a:hover,.cyan.accentHover a:hover  { color:rgb(27, 160, 225); }
.cyan .accentVisited:visited,.cyan .accentVisited a:visited { color:rgb(27, 160, 225); }
.cyan.accentLink a,a.cyan.accentLink:link,a.cyan.accentLink:hover,a.cyan.accentLink:visited,
.cyan.accentVisited:visited, .cyan.accentHover:hover, .accentHover .cyan a:hover,
.cyan .accentLink a, .cyan a.accentLink:link, .cyan a.accentLink:hover, .cyan a.accentLink:visited { color:rgb(27, 160, 225); }

.emerald .accent, .emerald .live-tile .accent,
.emerald .live-tile>div, .emerald .list-tile>div,
.emerald .live-tile>div.slide-back, .emerald .flip-list>li>div { background-color:rgb(0, 138, 0); }
.emerald .accentBorder,.emerald.accentBorder { border-color:rgb(0, 138, 0); }
.emerald .accentColor,.emerald.accentColor { color:rgb(0, 138, 0); }
.emerald .accentHover:hover,.emerald .accentHover a:hover,.emerald.accentHover a:hover  { color:rgb(0, 138, 0); }
.emerald .accentVisited:visited,.emerald .accentVisited a:visited { color:rgb(0, 138, 0); }
.emerald.accentLink a, a.emerald.accentLink:link, a.emerald.accentLink:hover, a.emerald.accentLink:visited,
a.emerald.accentVisited:visited, a.emerald.accentHover:hover,.accentHover .emerald a:hover,
.emerald .accentLink a,.emerald a.accentLink:link, .emerald a.accentLink:hover, .emerald a.accentLink:visited { color:rgb(0, 138, 0); }

.green .accent, .green.live-tile, .green .live-tile .accent,
.green .live-tile>div, .green .list-tile>div,
.green .live-tile>div.slide-back, .green .flip-list>li>div { background-color:rgb(51,153,51); }
.green .accentBorder,.green.accentBorder { border-color:rgb(51,153,51); }
.green .accentColor,.green.accentColor { color:rgb(51,153,51); }
.green .accentHover:hover,.green .accentHover a:hover,.green.accentHover a:hover  { color:rgb(51,153,51); }
.green .accentVisited:visited,.green .accentVisited a:visited { color:rgb(51,153,51); }
.green.accentLink a, a.green.accentLink:link, a.green.accentLink:hover, a.green.accentLink:visited,
a.green.accentVisited:visited, a.green.accentHover:hover, .accentHover .green a:hover,
.green .accentLink a, .green a.accentLink:link, .green a.accentLink:hover, .green a.accentLink:visited { color:rgb(51,153,51); } 

.indigo .accent, .indigo.live-tile, .indigo .live-tile .accent,
.indigo .live-tile>div, .indigo .list-tile>div,
.indigo .live-tile>div.slide-back, .indigo .flip-list>li>div { background-color:rgb(106,0,255); }
.indigo .accentBorder,.indigo.accentBorder { border-color:rgb(106,0,255); }
.indigo .accentColor,.indigo.accentColor { color:rgb(106,0,255); }
.indigo .accentHover:hover,.indigo .accentHover a:hover,.indigo.accentHover a:hover  { color:rgb(106,0,255); }
.indigo .accentVisited:visited,.indigo .accentVisited a:visited { color:rgb(106,0,255); }
.indigo.accentLink a, a.indigo.accentLink:link, a.indigo.accentLink:hover, a.indigo.accentLink:visited,
a.indigo.accentVisited:visited, a.indigo.accentHover:hover, .accentHover .indigo a:hover,
.indigo .accentLink a, .indigo a.accentLink:link, .indigo a.accentLink:hover, .indigo a.accentLink:visited { color:rgb(106,0,255); } 

.lime .accent, .lime .live-tile .accent,
.lime .live-tile>div, .lime .list-tile>div,
.lime .live-tile>div.slide-back, .lime .flip-list>li>div { background-color:rgb(162,193,57); }
.lime .accentBorder,.lime.accentBorder { border-color:rgb(162,193,57); }
.lime .accentColor,.lime.accentColor {  color:rgb(162,193,57); }
.lime .accentHover:hover,.lime .accentHover a:hover,.lime.accentHover a:hover   {  color:rgb(162,193,57); }
.lime a.accentVisited:visited, .lime a.accentVisited a:visited {  color:rgb(162,193,57); }
.lime.accentLink a, a.lime.accentLink:link, a.lime.accentLink:hover, a.lime.accentLink:visited,
a.lime.accentVisited:visited, a.lime.accentHover:hover, .accentHover .lime a:hover,
.lime .accentLink a, .lime a.accentLink:link, .lime a.accentLink:hover, .lime a.accentLink:visited {  color:rgb(162,193,57); }

.magenta .accent, .magenta.live-tile, .magenta .live-tile .accent,
.magenta .live-tile>div, .magenta .list-tile>div,
.magenta .live-tile>div.slide-back, .magenta .flip-list>li>div { background-color:rgb(216,0,115); }
.magenta .accentBorder,.magenta.accentBorder { border-color:rgb(216,0,115); }
.magenta .accentColor,.magenta.accentColor { color:rgb(216,0,115); }
.magenta .accentHover:hover,.magenta .accentHover a:hover,.magenta.accentHover a:hover { color:rgb(216,0,115); }
.magenta .accentVisited:visited,.magenta .accentVisited a:visited { color:rgb(216,0,115); }
.magenta.accentLink a, a.magenta.accentLink:link, a.magenta.accentLink:hover, a.magenta.accentLink:visited,
a.magenta.accentVisited:visited, a.magenta.accentHover:hover, .accentHover .magenta a:hover,
.magenta .accentLink a, .magenta a.accentLink:link, .magenta a.accentLink:hover, .magenta a.accentLink:visited { color:rgb(216,0,115); }

.mango .accent, .mango.live-tile, .mango .live-tile .accent,
.mango .live-tile>div, .mango .list-tile>div,
.mango .live-tile>div.slide-back, .mango .flip-list>li>div { background-color:rgb(240,150,9); }
.mango .accentBorder,.mango.accentBorder { border-color:rgb(240,150,9); }
.mango .accentColor,.mango.accentColor { color:rgb(240,150,9); }
.mango .accentHover:hover,.mango .accentHover a:hover,.mango.accentHover a:hover  { color:rgb(240,150,9); }
.mango .accentVisited:visited, .mango .accentVisited a:visited { color:rgb(240,150,9); }
.mango.accentLink a, a.mango.accentLink:link, a.mango.accentLink:hover, a.mango.accentLink:visited,
a.mango.accentVisited:visited, a.mango.accentHover:hover, .accentHover .mango a:hover,
.mango .accentLink a, .mango a.accentLink:link, .mango a.accentLink:hover, .mango a.accentLink:visited { color:rgb(240,150,9); }

.mauve .accent, .mauve.live-tile, .mauve .live-tile .accent,
.mauve .live-tile>div, .mauve .list-tile>div,
.mauve .live-tile>div.slide-back, .mauve .flip-list>li>div { background-color:rgb(118,95,137); }
.mauve .accentBorder,.mauve.accentBorder { border-color:rgb(118,95,137); }
.mauve .accentColor,.mauve.accentColor { color:rgb(118,95,137); }
.mauve .accentHover:hover,.mauve .accentHover a:hover,.mauve.accentHover a:hover  { color:rgb(118,95,137); }
.mauve .accentVisited:visited,.mauve .accentVisited a:visited { color:rgb(118,95,137); }
.mauve.accentLink a, a.mauve.accentLink:link, a.mauve.accentLink:hover, a.mauve.accentLink:visited,
a.mauve.accentVisited:visited, a.mauve.accentHover:hover, .accentHover .mauve a:hover,
.mauve .accentLink a, .mauve a.accentLink:link, .mauve a.accentLink:hover,.mauve a.accentLink:visited { color:rgb(118,95,137); }

.olive .accent, .olive.live-tile, .olive .live-tile .accent,
.olive .live-tile>div, .olive .list-tile>div,
.olive .live-tile>div.slide-back, .olive .flip-list>li>div { background-color:rgb(109,135,100); }
.olive .accentBorder,.olive.accentBorder { border-color:rgb(109,135,100); }
.olive .accentColor,.olive.accentColor { color:rgb(109,135,100); }
.olive .accentHover:hover,.olive .accentHover a:hover,.olive.accentHover a:hover  { color:rgb(109,135,100); }
.olive .accentVisited:visited,.olive .accentVisited a:visited { color:rgb(109,135,100); }
.olive.accentLink a, a.olive.accentLink:link, a.olive.accentLink:hover, a.olive.accentLink:visited,
a.olive.accentVisited:visited, a.olive.accentHover:hover, .accentHover .olive a:hover,
.olive .accentLink a, .olive a.accentLink:link, .olive a.accentLink:hover, .olive a.accentLink:visited { color:rgb(109,135,100); }

.orange .accent, .orange.live-tile, .orange .live-tile .accent,
.orange .live-tile>div, .orange .list-tile>div,
.orange .live-tile>div.slide-back, .orange .flip-list>li>div { background-color: #FA824F; }
.orange .accentBorder,.orange.accentBorder { border-color: #FA824F; }
.orange .accentColor,.orange.accentColor { color: #FA824F; }
.orange .accentHover:hover,.orange .accentHover a:hover,.orange.accentHover a:hover  { color: #FA824F; }
.orange .accentVisited:visited,.orange .accentVisited a:visited { color: #FA824F; }
.orange.accentLink a, a.orange.accentLink:link, a.orange.accentLink:hover, a.orange.accentLink:visited,
a.orange.accentVisited:visited, a.orange.accentHover:hover, .accentHover .orange a:hover,
.orange .accentLink a, .orange a.accentLink:link, .orange a.accentLink:hover, .orange a.accentLink:visited { color: #FA824F; }

.pink .accent, .pink .live-tile .accent,
.pink .live-tile>div, .pink .list-tile>div,
.pink .live-tile>div.slide-back, .pink .flip-list>li>div { background-color:rgb(230,113,184); }
.pink .accentBorder,.pink.accentBorder { border-color:rgb(230,113,184); }
.pink .accentColor,.pink.accentColor { color:rgb(230,113,184); }
.pink .accentHover:hover,.pink .accentHover a:hover,.pink.accentHover a:hover   { color:rgb(230,113,184); }
.pink .accentVisited:visited,.pink .accentVisited a:visited { color:rgb(230,113,184); }
.pink.accentLink a, a.pink.accentLink:link, a.pink.accentLink:hover, a.pink.accentLink:visited,
a.pink.accentVisited:visited, a.pink.accentHover:hover, .accentHover .pink a:hover,
.pink .accentLink a, .pink a.accentLink:link, .pink a.accentLink:hover, .pink a.accentLink:visited { color:rgb(230,113,184); }

.purple .accent, .purple .live-tile .accent,.violet .accent, .violet .live-tile .accent,
.purple .live-tile>div,  .purple .list-tile>div, .violet .live-tile>div,  .violet .list-tile>div,
.purple .live-tile>div.slide-back, .purple .flip-list>li>div, .violet .live-tile>div.slide-back, .violet .flip-list>li>div 
{ background-color:rgb(162,0,255); }
.purple .accentBorder,.purple.accentBorder, .violet .accentBorder,.violet.accentBorder {border-color:rgb(162,0,255); }
.purple .accentColor,.purple.accentColor, .violet .accentColor,.violet.accentColor { color:rgb(162,0,255); }
.purple .accentHover:hover,.purple .accentHover a:hover,.purple.accentHover a:hover,
.violet .accentHover:hover,.violet .accentHover a:hover,.violet.accentHover a:hover { color:rgb(162,0,255); }
.purple .accentVisited:visited,.purple .accentVisited a:visited,
.violet .accentVisited:visited,.violet .accentVisited a:visited { color:rgb(162,0,255); }
.purple.accentLink a, a.purple.accentLink:link, a.purple.accentLink:hover, a.purple.accentLink:visited,
.violet.accentLink a, a.violet.accentLink:link, a.violet.accentLink:hover, a.violet.accentLink:visited,
a.purple.accentVisited:visited, a.purple.accentHover:hover, a.violet.accentVisited:visited, a.violet.accentHover:hover,
.purple .accentLink a,.purple a.accentLink:link,.purple a.accentLink:hover,.purple a.accentLink:visited,.accentHover .purple a:hover,
.violet .accentLink a,.violet a.accentLink:link,.violet a.accentLink:hover,.violet a.accentLink:visited,.accentHover .violet a:hover { color:rgb(162,0,255); }

.red .accent, .red .live-tile .accent,
.red .live-tile>div, .red .list-tile>div,
.red .live-tile>div.slide-back, .red .flip-list>li>div { background-color: #dc3030; }
.red .accentBorder,.red.accentBorder { border-color: #dc3030; }
.red .accentColor,.red.accentColor { color: #dc3030; }
.red .accentHover:hover,.red .accentHover a:hover,.red.accentHover a:hover    { color: #dc3030; }
.red .accentVisited:visited,.red .accentVisited a:visited { color: #dc3030; }
.red.accentLink a, a.red.accentLink:link, a.red.accentLink:hover,.red.accentLink:visited,
a.red.accentVisited:visited, a.red.accentHover:hover,
.red .accentLink a, .red a.accentLink:link, .red a.accentLink:hover, .red a.accentLink:visited, .accentHover .red a:hover { color:#dc3030; }

.sienna .accent, .sienna .live-tile .accent,
.sienna .live-tile>div, .sienna .list-tile>div,
.sienna .live-tile>div.slide-back, .sienna .flip-list>li>div { background-color:rgb(123,58,62); }
.sienna .accentBorder,.sienna.accentBorder { border-color:rgb(123,58,62); }
.sienna .accentColor,.sienna.accentColor { color:rgb(123,58,62); }
.sienna .accentHover:hover,.sienna .accentHover a:hover,.sienna.accentHover a:hover    { color:rgb(123,58,62); }
.sienna .accentVisited:visited,.sienna .accentVisited a:visited { color:rgb(123,58,62); }
.sienna.accentLink a, a.sienna.accentLink:link, a.sienna.accentLink:hover, a.sienna.accentLink:visited,
a.sienna.accentVisited:visited, a.sienna.accentHover:hover, .accentHover .sienna a:hover,
.sienna .accentLink a, .sienna a.accentLink:link, .sienna a.accentLink:hover, .sienna a.accentLink:visited { color:rgb(123,58,62); }

.steel .accent, .steel .live-tile .accent,
.steel .live-tile>div, .steel .list-tile>div,
.steel .live-tile>div.slide-back, .steel .flip-list>li>div { background-color:rgb(101,118,136); }
.steel .accentBorder,.steel.accentBorder { border-color:rgb(101,118,136); }
.steel .accentColor,.steel.accentColor { color:rgb(101,118,136); }
.steel .accentHover:hover,.steel .accentHover a:hover,.steel.accentHover a:hover    { color:rgb(101,118,136); }
.steel .accentVisited:visited,.steel .accentVisited a:visited { color:rgb(101,118,136); }
.steel.accentLink a, a.steel.accentLink:link, a.steel.accentLink:hover, a.steel.accentLink:visited,
a.steel.accentVisited:visited, a.steel.accentHover:hover, .accentHover .steel a:hover,
.steel .accentLink a, .steel a.accentLink:link, .steel a.accentLink:hover, .steel a.accentLink:visited { color:rgb(101,118,136); }

.teal .accent, .teal .live-tile .accent, 
.teal .live-tile>div, .teal .list-tile>div,
.teal .live-tile>div.slide-back, .teal .flip-list>li>div { background-color:rgb(0,171,169); }
.teal .accentBorder,.teal.accentBorder { border-color:rgb(0,171,169); }
.teal .accentColor,.teal.accentColor { color:rgb(0,171,169); }
.teal .accentHover:hover,.teal .accentHover a:hover,.teal.accentHover a:hover   { color:rgb(0,171,169); }
.teal .accentVisited:visited,.teal .accentVisited a:visited { color:rgb(0,171,169); }
.teal.accentLink a, a.teal.accentLink:link, a.teal.accentLink:hover, a.teal.accentLink:visited,
a.teal.accentVisited:visited, a.teal.accentHover:hover, .accentHover .teal a:hover,
.teal .accentLink a, .teal a.accentLink:link, .teal a.accentLink:hover, .teal a.accentLink:visited { color:rgb(0,171,169); }

.yellow .accent, .yellow .live-tile .accent, 
.yellow .live-tile>div, .yellow .list-tile>div,
.yellow .live-tile>div.slide-back, .yellow .flip-list>li>div { background-color:rgb(216,193,1); }
.yellow .accentBorder,.yellow.accentBorder { border-color:rgb(216,193,1); }
.yellow .accentColor,.yellow.accentColor { color:rgb(216,193,1); }
.yellow .accentHover:hover,.yellow .accentHover a:hover,.yellow.accentHover a:hover   { color:rgb(216,193,1); }
.yellow .accentVisited:visited,.yellow .accentVisited a:visited { color:rgb(216,193,1); }
.yellow.accentLink a, a.yellow.accentLink:link, a.yellow.accentLink:hover, a.yellow.accentLink:visited,
a.yellow.accentVisited:visited, a.yellow.accentHover:hover, .accentHover .yellow a:hover,
.yellow .accentLink a, .yellow a.accentLink:link, .yellow a.accentLink:hover, .yellow a.accentLink:visited { color:rgb(216,193,1); }

/* local theme overrides */
.amber.live-tile, .amber.live-tile .accent,.amber.accent,
.amber.live-tile>div, .amber.list-tile>div,
.amber.live-tile>div.slide-back, .amber.list-tile .flip-list>li>div { background-color:rgb(241, 163, 11); }

.skyblue.live-tile, .skyblue.live-tile .accent,.skyblue.accent,
.skyblue.live-tile>div, .skyblue.list-tile>div,
.skyblue.live-tile>div.slide-back, .skyblue.list-tile .flip-list>li>div { background-color: #6AB7FE; }

.blue.live-tile, .blue.live-tile .accent,.blue.accent,
.blue.live-tile>div, .blue.list-tile>div,
.blue.live-tile>div.slide-back, .blue.list-tile .flip-list>li>div { background-color:rgb(27,161,226); }
.brown.live-tile, .brown.live-tile .accent,.brown.accent,
.brown.live-tile>div, .brown.list-tile>div,
.brown.live-tile>div.slide-back, .brown.list-tile .flip-list>li>div { background-color:rgb(160,80,0); }
.cobalt.live-tile, .cobalt.live-tile .accent,.cobalt.accent,
.cobalt.live-tile>div, .cobalt.list-tile>div,
.cobalt.live-tile>div.slide-back, .cobalt.list-tile .flip-list>li>div { background-color:rgb(0, 80, 239); }
.crimson.live-tile, .crimson.live-tile .accent,.crimson.accent,
.crimson.live-tile>div, .crimson.list-tile>div,
.crimson.live-tile>div.slide-back, .crimson.list-tile .flip-list>li>div { background-color:rgb(162, 0, 37); }
.cyan.live-tile, .cyan.live-tile .accent,.cyan.accent,
.cyan.live-tile>div, .cyan.list-tile>div,
.cyan.live-tile>div.slide-back, .cyan.list-tile .flip-list>li>div { background-color:rgb(27, 160, 225); }
.emerald.live-tile, .emerald.live-tile .accent,.emerald.accent,
.emerald.live-tile>div, .emerald.list-tile>div,
.emerald.live-tile>div.slide-back, .emerald.list-tile .flip-list>li>div { background-color:rgb(0, 138, 0); }
.green.live-tile, .green.live-tile .accent,.green.accent,
.green.live-tile>div, .green.list-tile>div,
.green.live-tile>div.slide-back, .green.list-tile .flip-list>li>div { /* background-color:rgb(51,153,51); */ background-color: #5FB435}
.indigo.live-tile, .indigo.live-tile .accent,.indigo.accent,
.indigo.live-tile>div, .indigo.list-tile>div,
.indigo.live-tile>div.slide-back, .indigo.list-tile .flip-list>li>div { background-color:rgb(106,0,255); }
.lime.live-tile, .lime.live-tile .accent,.lime.accent,
.lime.live-tile>div, .lime.list-tile>div,
.lime.live-tile>div.slide-back, .lime.list-tile .flip-list>li>div { background-color:rgb(162,193,57); }
.magenta.live-tile, .magenta.live-tile .accent,.magenta.accent,
.magenta.live-tile>div, .magenta.list-tile>div,
.magenta.live-tile>div.slide-back, .magenta.list-tile .flip-list>li>div { background-color:rgb(216,0,115); }
.mango.live-tile, .mango.live-tile .accent,.mango.accent,
.mango.live-tile>div, .mango.list-tile>div,
.mango.live-tile>div.slide-back, .mango.list-tile .flip-list>li>div { background-color:rgb(240,150,9); }
.mauve.live-tile, .mauve.live-tile .accent,.mauve.accent,
.mauve.live-tile>div, .mauve.list-tile>div,
.mauve.live-tile>div.slide-back, .mauve.list-tile .flip-list>li>div { background-color:rgb(118,95,137); }
.olive.live-tile, .olive.live-tile .accent,.olive.accent,
.olive.live-tile>div, .olive.list-tile>div,
.olive.live-tile>div.slide-back, .olive.list-tile .flip-list>li>div { background-color:rgb(109,135,100); }
.orange.live-tile, .orange.live-tile .accent,.orange.accent,
.orange.live-tile>div, .orange.list-tile>div,
.orange.live-tile>div.slide-back, .orange.list-tile .flip-list>li>div { background-color: #FA824F; }
.pink.live-tile, .pink.live-tile .accent,.pink.accent,
.pink.live-tile>div, .pink.list-tile>div,
.pink.live-tile>div.slide-back, .pink.list-tile .flip-list>li>div { background-color:rgb(230,113,184); }
.purple.live-tile, .purple.live-tile .accent,.purple.accent,
.violet.live-tile, .violet.live-tile .accent,.violet.accent,
.purple.live-tile>div, .purple.list-tile>div,.violet.live-tile>div, .violet.list-tile>div,
.purple.live-tile>div.slide-back, .purple.list-tile .flip-list>li>div,
.violet.live-tile>div.slide-back, .violet.list-tile .flip-list>li>div { background-color:rgb(162,0,255); }
.red.live-tile, .red.live-tile .accent,.red.accent,
.red.live-tile>div, .red.list-tile>div,
.red.live-tile>div.slide-back, .red.list-tile .flip-list>li>div { background-color: #dc3030; }
.sienna.live-tile, .sienna.live-tile .accent,.sienna.accent,
.sienna.live-tile>div, .sienna.list-tile>div,
.sienna.live-tile>div.slide-back, .sienna.list-tile .flip-list>li>div { background-color:rgb(123,58,62); }
.steel.live-tile, .steel.live-tile .accent,.steel.accent,
.steel.live-tile>div, .steel.list-tile>div,
.steel.live-tile>div.slide-back, .steel.list-tile .flip-list>li>div { background-color:rgb(101,118,136); }
.teal.live-tile, .teal.live-tile .accent, .teal.accent,
.teal.live-tile>div, .teal.list-tile>div,
.teal.live-tile>div.slide-back, .teal.list-tile .flip-list>li>div { background-color:rgb(0,171,169); }
.yellow.live-tile, .yellow.live-tile .accent, .yellow.accent,
.yellow.live-tile>div, .yellow.list-tile>div,
.yellow.live-tile>div.slide-back, .yellow.list-tile .flip-list>li>div { background-color:rgb(216,193,1); }.live-tile.flip { background:none;}

/* flip-list tile grid sprite styles */
.nineTiles    
{
	/* set a default image here
	background-image:url('/content/images/yourimage.jpg');  
	*/
}
.flip-list.nineTiles>li,.flip-list.nineTiles>li>div,.flip-list.nineTiles>li>div>img,.flip-list.nineTiles>li>div>a 
{ 
	height:60px; width:60px; border:none; padding:0; margin:0; 
}
.nineTiles1  { background-position: 0px 0px; }
.nineTiles2  { background-position: -60px 0px; }
.nineTiles3  { background-position: -120px 0px; }
.nineTiles4  { background-position: 0px -60px; }
.nineTiles5  { background-position: -60px -60px; }
.nineTiles6  { background-position: -120px -60px; }
.nineTiles7  { background-position: 0px -120px; }
.nineTiles8  { background-position: -60px -120px; }
.nineTiles9  { background-position: -120px -120px; }

.fourTiles   {}
.flip-list.fourTiles>li,.flip-list.fourTiles>li>div,.flip-list.fourTiles>li>div>img,.flip-list.fourTiles>li>div>a 
{ 
	border:none; padding:0; margin:0; 
	height:90px;
	width:90px;
}
.fourTiles1  { background-position: 0px 0px; }
.fourTiles2  { background-position: -90px 0px; }
.fourTiles3  { background-position: 0px -90px; }
.fourTiles4  { background-position: -90px -90px; }



/* application-bar styles */
.appbar 
{
	background-color:#212021;
	bottom:0px;
	color: #fff;
	font-size: .9em;
	height:60px;
	left:0px;
	line-height: normal;
	margin:0;
	overflow:hidden;
	padding: 10px 0;
	position:fixed;
	text-align: center;
	width:100%;
	z-index:100;
}
.light .appbar { background-color:#dfdfdf; color:#000; }
.dark .appbar { background-color:#212021; }
.appbar .clear { clear:both; }

.appbar-buttons {
	padding: 0 0 2px;
	position: relative;
	margin: 0 auto;
	text-align: right;
	width:252px;
}

.appbar-buttons li {
	display: inline;
	padding: 0 10px;
	float:left;
	list-style: none;
}

.appbar-buttons li a {
	font-weight: bold;
	background-color: transparent;
	color: #fff;
}

.light .appbar-buttons li a { color:#000; }
.appbar-buttons a>img { background-image:url('images/metroIcons.jpg'); background-repeat:no-repeat; height:64px; width:64px; border:none;}
.light .appbar-buttons a>img { background-image:url('images/metroIcons_light.jpg'); }
.appbar-buttons a.home>img { background-position:-104px -12px; }
.appbar-buttons a.about>img { background-position:-198px -99px;  }
.appbar-buttons a.twitter>img { background-position:-198px -12px;  }
.appbar-buttons li a:active, ul#menu li.selected a, .appbar-buttons li a:hover { text-decoration: none; }

.appbar a.etc, .appbar a:hover.etc,.appbar a:visited.etc
{   
	color:#fff;
	cursor:pointer; 
	display:block; 
	font-size:32px;
	height:60px;
	position:absolute; 
	right:0px; 
	text-decoration:none;
	top:0px; 
	width:60px; 
}
.light .appbar a.etc, .light .appbar a:hover.etc, 
.light .appbar a:visited.etc { color:#000; }
.appbar .charm-title { font-size:10px; display:block; text-align:center; }
.appbar .theme-options { display:block; width:644px; margin:0px auto; }
.appbar .theme-options>li { margin:7px; display:inline; float:left; line-height:24px; height:24px; width:24px; }
.appbar .theme-options>li>a, .appbar .theme-options>li>a:hover,
.appbar .theme-options>li>a:visited { display:block; padding:0px; text-decoration:none; height:24px; width:24px; }
.appbar .base-theme-options { display:block; width:130px; margin:0px auto; }
.appbar .base-theme-options>li { margin:7px; display:inline; float:left; line-height:24px; height:24px; width:24px; }
.appbar .base-theme-options>li>a, .appbar .base-theme-options>li>a:hover, 
.appbar .base-theme-options>li>a:visited { display:block; padding:0px; text-decoration:none; height:24px; width:24px; }
.appbar .base-theme-options>li>a.dark.accent { background-color:#000; }
/* Media queries */
@media screen and (max-width: 1025px) 
{
	.appbar .theme-options { width:650px; } /* ensures alignment and no wrapping on ipad */
	.appbar .base-theme-options { width:140px; } /* ensures alignment and no wrapping on ipad */
}
@media screen and (max-width: 801px)
{
	.appbar .theme-options { width:360px; }
}

/* ------ Hardware Accelerated CSS3 Animations --------*/
/* flip */
.flip-list>li>.ha.flip-back, .flip-list>li>.ha.flip-back img
{
	 /* override the values set for margin and ensure the back tile is visible  */
	margin:0px !important;
	height:100%;
}

.live-tile>.ha.flip-front, .flip-list>li>.ha.flip-front  
{   
	position:absolute;
	/* time to start repeating ourselves 
	note: we are not setting a duration or delay here, 
	that is added in script */
	-webkit-animation-name:flipfront180;
	-webkit-animation-play-state:paused;
	-webkit-animation-fill-mode:forwards;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-timing-function: linear;
	-moz-animation-name:flipfront180;
	-moz-animation-play-state:paused;
	-moz-animation-fill-mode:forwards;
	-moz-animation-iteration-count: 1;
	-moz-animation-timing-function: linear;
	-ms-animation-name:flipfront180;
	-ms-animation-play-state:paused;
	-ms-animation-fill-mode:forwards;
	-ms-animation-iteration-count: 1;
	-ms-animation-timing-function: linear;
	-o-animation-name:flipfront180;
	-o-animation-play-state:paused;
	-o-animation-fill-mode:forwards;
	-o-animation-iteration-count: 1;
	-o-animation-timing-function: linear;
	animation-name:flipfront180;
	animation-play-state:paused;
	animation-fill-mode:forwards;
	animation-iteration-count: 1;
	animation-timing-function: linear;
}

.live-tile>.ha.flip-back, .flip-list>li>.ha.flip-back
{
	position:absolute;
	-webkit-animation-name:flipback180;
	-webkit-animation-play-state:paused;
	-webkit-animation-fill-mode:forwards;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-timing-function: linear;
	-moz-animation-name:flipback180;
	-moz-animation-play-state:paused;
	-moz-animation-fill-mode:forwards;
	-moz-animation-iteration-count: 1;
	-moz-animation-timing-function: linear;
	-ms-animation-name:flipback180;
	-ms-animation-play-state:paused;
	-ms-animation-fill-mode:forwards;
	-ms-animation-iteration-count: 1;
	-ms-animation-timing-function: linear;
	-o-animation-name:flipback180;
	-o-animation-play-state:paused;
	-o-animation-fill-mode:forwards;
	-o-animation-iteration-count: 1;
	-o-animation-timing-function: linear;
	animation-name:flipback180;
	animation-play-state:paused;
	animation-fill-mode:forwards;
	animation-iteration-count: 1;
	animation-timing-function: linear;
}

/* Flip Vertical */
  @-keyframes flipfront180 {
	from     {  z-index:20; transform: rotateX(0deg); }
	49%      {  z-index:20; }
	50%      {  z-index:10; }
	to       {  z-index:10; transform: rotateX(-180deg); }
  }
  @-webkit-keyframes flipfront180 {
	from     {  z-index:20; -webkit-transform: rotateX(0deg); }
	49%      {  z-index:20; }
	50%      {  z-index:10; }
	to       {  z-index:10; -webkit-transform: rotateX(-180deg);  }
  }
  @-moz-keyframes flipfront180 {
	0%     {  z-index:20; -moz-transform: rotateX(0deg); }
	49%      {  z-index:20; }
	50%      {  z-index:10; }
	100%       {  z-index:10; -moz-transform: rotateX(-180deg); }
  }
   @-ms-keyframes flipfront180 {
	from     {  z-index:20; -ms-transform: rotateX(0deg); }
	49%      {  z-index:20; }
	50%      {  z-index:10; }
	to       {  z-index:10; -ms-transform: rotateX(-180deg); }
  }
   @-o-keyframes flipfront180 {
	from     {  z-index:20; -o-transform: rotateX(0deg); }
	49%      {  z-index:20; }
	50%      {  z-index:10; }
	to       {  z-index:10; -o-transform: rotateX(-180deg); }
  }
  @-keyframes flipback180 {
	0%     {  z-index:10; transform: rotateX(180deg); }
	49%      {  z-index:10; }
	50%      {  z-index:20; }
	100%       {  z-index:20; transform: rotateX(0deg); }
  }
  @-webkit-keyframes flipback180 {
	from     {  z-index:10; -webkit-transform: rotateX(180deg);  }
	49%      {  z-index:10; }
	50%      {  z-index:20; }
	to       {  z-index:20;  -webkit-transform: rotateX(0deg); }
  }
  @-moz-keyframes flipback180 {
	0%     {  z-index:10; -moz-transform: rotateX(180deg); }
	49%      {  z-index:10; }
	50%      {  z-index:20; }
	100%       {  z-index:20; -moz-transform: rotateX(0deg); }
  }
  @-ms-keyframes flipback180 {
	from     {  z-index:10; -ms-transform: rotateX(180deg); }
	49%      {  z-index:10; }
	50%      {  z-index:20; }
	to       {  z-index:20; -ms-transform: rotateX(0deg); }
  }
  @-o-keyframes flipback180 {
	from     {  z-index:10; -o-transform: rotateX(180deg); }
	49%      {  z-index:10; }
	50%      {  z-index:20; }
	to       {  z-index:20; -o-transform: rotateX(0deg); }
  }
  
  /* Flip Horizontal */
  @-keyframes flipfrontY180 {
	0%      {  z-index:20; transform: rotateY(0deg); }
	49%     {  z-index:20; }
	50%     {  z-index:10; }
	100%    {  z-index:10; transform: rotateY(-180deg); }
  }
  @-webkit-keyframes flipfrontY180 {
	from     {  z-index:20; -webkit-transform: rotateY(0deg); }
	49%      {  z-index:20; }
	50%      {  z-index:10; }
	to       {  z-index:10; -webkit-transform: rotateY(-180deg);  }
  }
  @-moz-keyframes flipfrontY180 {
	0%      {  z-index:20; -moz-transform: rotateY(0deg); }
	49%     {  z-index:20; }
	50%     {  z-index:10; }
	100%    {  z-index:10; -moz-transform: rotateY(-180deg); }
  }
   @-ms-keyframes flipfrontY180 {
	from     {  z-index:20; -ms-transform: rotateY(0deg); }
	49%      {  z-index:20; }
	50%      {  z-index:10; }
	to       {  z-index:10; -ms-transform: rotateY(-180deg); }
  }
   @-o-keyframes flipfrontY180 {
	from     {  z-index:20; -o-transform: rotateY(0deg); }
	49%      {  z-index:20; }
	50%      {  z-index:10; }
	to       {  z-index:10; -o-transform: rotateY(-180deg); }
  }
  @-keyframes flipbackY180 {
	0%     {  z-index:10; transform: rotateY(180deg); }
	49%      {  z-index:10; }
	50%      {  z-index:20; }
	100%       {  z-index:20; transform: rotateY(0deg); }
  }
  @-webkit-keyframes flipbackY180 {
	from     {  z-index:10; -webkit-transform: rotateY(180deg);  }
	49%      {  z-index:10; }
	50%      {  z-index:20; }
	to       {  z-index:20;  -webkit-transform: rotateY(0deg); }
  }
  @-moz-keyframes flipbackY180 {
	0%       {  z-index:10; -moz-transform: rotateY(180deg); }
	49%      {  z-index:10; }
	50%      {  z-index:20; }
	100%     {  z-index:20; -moz-transform: rotateY(0deg); }
  }
  @-ms-keyframes flipbackY180 {
	from     {  z-index:10; -ms-transform: rotateY(180deg); }
	49%      {  z-index:10; }
	50%      {  z-index:20; }
	to       {  z-index:20; -ms-transform: rotateY(0deg); }
  }
  @-o-keyframes flipbackY180 {
	from     {  z-index:10; -o-transform: rotateY(180deg); }
	49%      {  z-index:10; }
	50%      {  z-index:20; }
	to       {  z-index:20; -o-transform: rotateY(0deg); }
  }